.navbar{
    padding-left: 10%;
    padding-right: 10%;
}
.mid{
    padding: 20px 7% 20px 7%;
}
.mid-td{
    width:50%; 
    height:auto;
    vertical-align: top;
}
.keyfeatures{
    text-align: left; 
    padding-top: 100px;
}
.keyfeatures-listitem{
    font-size: 25px; 
    line-height: 1; 
    font-weight: 700; 
    padding-left: 80px;
}
.keyfeatures-listitem-filler{
    padding-left: 80px;
    font-size: 18px; 
    font-weight: 700;
    color: #798088;
    width: 50%;
}
.feedbackinput{
    padding-left: 10px;
    border-style: none;
    width: 100%;
    height: 40px;
    background-color: #F8F9FA;
    font-size: 18px;
    color: #8B9299;
    font-weight: 400;
    &.message{
        height: 80px;
        padding-bottom: 40px;
    }
}
.fileupload {
    width: 100%;
}
::-webkit-file-upload-button {
    border-style: none;
    padding: 8px 18px 8px 18px;
    background-color: #E9ECEF;
    color: #36393D;
    font-weight: 700;
    border-style: none;
}
.submitbutton{
    float: right;
    color: white;
    border-radius: 5px;
    background-color: #0E6FFD;
}