<!-- window width >= 1366-->
<div class="maindiv" *ngIf="innerWidth>1365" > 
    <div class="navbar">
        <h4 class="left" style="color: #0E6FFD;">EduMatch</h4>
        <div>
          <button routerLink="/login" class="white">Log In</button>&nbsp;
          <button routerLink="/registration" class="blue">Sign Up</button>
        </div>
    </div>
    <div class="mid"> 
        <table style="width: 100%;">
            <tr>
                <td class="mid-td">
                    <img style="height: auto;width: 100%;" src="assets/buildingimg.png"/>
                </td>
                <td class="mid-td">
                    <div class="keyfeatures" *ngIf="innerWidth>1419">
                        <div class="lidiv">
                            <p class="loremipsum">Lorem ipsum</p>
                        </div>
                        <br>
                        <h1 class="keyfeaturestitle">Key Features</h1>
                        <br>
                        <div>
                            <img class="custombullet" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem">Flexible software</p>
                            <p class="keyfeatures-listitem-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                    <div class="keyfeatures smaller" *ngIf="innerWidth>1365&&innerWidth<1420">
                        <div style="width:fit-content; text-align: center; vertical-align: middle; background-color: #0E6FFD;border-radius: 10px; padding:0 10px 0 10px ;">
                            <p style="font-weight: 700; color: white;">Lorem ipsum</p>
                        </div>
                        <br>
                        <h1 style="font-weight: 900; font-size: 30px;">Key Features</h1>
                        <br>
                        <div>
                            <img class="custombullet smaller" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem smaller">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <br>
                            <img class="custombullet smaller" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem smaller">Flexible software</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <br>
                            <img class="custombullet smaller" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem smaller">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td" style="padding: 50px 0 150px 0">
                    <div style="padding-left: 53px; width: 50%;">
                        <p class="contactus">Contact Us</p>
                        <h1 class="contactustitle" >We will be glad to hear from you!</h1>
                        <br>
                        <p class="contactus">Phone</p>
                        <p class="contactusinfo">+65 6544-3030</p>
                        <p class="contactus">E-mail</p>
                        <p class="contactusinfo">info@example.com</p>
                        <p class="contactus">Address</p>
                        <p class="contactusinfo">3 Shenton Way<br>
                        Singapore, 06885</p>
                    </div>
                </td>
                <td class="mid-td" style="padding: 50px 0 150px 0">
                    <div>
                        <p class="feedbackformlabel left bold" >Department: &nbsp;&nbsp;&nbsp;</p>
                        <input checked="checked" type="radio" id="support" name="Department" value="support"/>
                        <label class="feedbackformlabel"for="support">&nbsp;&nbsp;&nbsp;Support</label>
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="sales" name="Department" value="sales"/>
                        <label class="feedbackformlabel"for="sales">&nbsp;&nbsp;&nbsp;Sales</label>
                    </div>
                    <br>
                    <input placeholder="Subject" class="feedbackinput"/>
                    <br><br>
                    <input placeholder="Name" class="feedbackinput"/>
                    <br><br>
                    <input placeholder="name@example.com" class="feedbackinput"/>
                    <br><br>
                    <input placeholder="Message..." class="feedbackinput message"/>
                    <br><br>
                    <input size="60"type="file" id="myFile" name="filename"/>
                    <br><br>
                    <input class="left" type="checkbox" id="tnc" name="tnc"/>
                    <label for = "tnc">&nbsp;&nbsp;I agree to the terms & conditions.</label>
                    <button class="submitbutton">Submit</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 1024 >= window width < 1366-->
<div class="maindiv" *ngIf="innerWidth>1023&&innerWidth<1366" > 
    <div class="navbar">
        <h4 class="left" style="color: #0E6FFD;">EduMatch</h4>
        <div>
          <button routerLink="/login" class="white">Log In</button>&nbsp;
          <button routerLink="/registration" class="blue">Sign Up</button>
        </div>
    </div>
    <div class="mid"> 
        <table style=" width: 100%;">
            <tr>
                <td class="mid-td">
                    <img style="height: auto;width: 100%;" src="assets/buildingimg.png"/>
                </td>
                <td class="mid-td">
                    <div class="keyfeatures evensmaller">
                        <div class="lidiv">
                            <p class="loremipsum smaller">Lorem ipsum</p>
                        </div>
                        <br>
                        <h1 class="keyfeaturestitle smaller">Key Features</h1>
                        <br>
                        <div>
                            <img class="custombullet smaller" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem smaller">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <br>
                            <img class="custombullet smaller" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem smaller">Flexible software</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <br>
                            <img class="custombullet smaller" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem smaller">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td" style="padding: 50px 0 150px 0">
                    <div style="padding-left: 53px; width: 50%;">
                        <p class="contactus smaller">Contact Us</p>
                        <h1 class="contactustitle smaller" >We will be glad to hear from you!</h1>
                        <br>
                        <p class="contactus smaller">Phone</p>
                        <p class="contactusinfo smaller">+65 6544-3030</p>
                        <p class="contactus smaller">E-mail</p>
                        <p class="contactusinfo smaller">info@example.com</p>
                        <p class="contactus smaller">Address</p>
                        <p class="contactusinfo smaller">3 Shenton Way<br>
                        Singapore, 06885</p>
                    </div>
                </td>
                <td class="mid-td" style="padding: 50px 0 150px 0">
                    <div>
                        <p class="feedbackformlabel left bold smaller" >Department: &nbsp;&nbsp;&nbsp;</p>
                        <input checked="checked" type="radio" id="support" name="Department" value="support"/>
                        <label class="feedbackformlabel smaller"for="support">&nbsp;&nbsp;&nbsp;Support</label>
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="sales" name="Department" value="sales"/>
                        <label class="feedbackformlabel smaller"for="sales">&nbsp;&nbsp;&nbsp;Sales</label>
                    </div>
                    <br>
                    <input placeholder="Subject" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="Name" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="name@example.com" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="Message..." class="feedbackinput messagesmaller"/>
                    <br><br>
                    <input size="40"type="file" id="myFile" name="filename"/>
                    <br><br>
                    <input class="left" type="checkbox" id="tnc" name="tnc"/>
                    <label for="tnc">&nbsp;&nbsp;I agree to the terms & conditions.</label>
                    <button class="submitbutton">Submit</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- 768 >= window width < 1024-->
<div class="maindiv" *ngIf="innerWidth>767&&innerWidth<1024" > 
    <div class="navbar">
        <h4 class="left" style="color: #0E6FFD;">EduMatch</h4>
        <div>
          <button routerLink="/login" class="white">Log In</button>&nbsp;
          <button routerLink="/registration" class="blue">Sign Up</button>
        </div>
    </div>
    <div class="mid"> 
        <table style=" width: 100%;">
            <tr>
                <td class="mid-td">
                    <img style="height: auto;width: 100%;" src="assets/buildingimg.png"/>
                </td>
                <td class="mid-td">
                    <div *ngIf="innerWidth>874&&innerWidth<1024" class="keyfeatures smallest">
                        <div class="lidiv">
                            <p class="loremipsum smaller">Lorem ipsum</p>
                        </div>
                        <h1 class="keyfeaturestitle evensmaller">Key Features</h1>
                        <div>
                            <img class="custombullet smaller" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem smaller">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem smaller">Flexible software</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem smaller">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler smaller">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                    <div *ngIf="innerWidth>767&&innerWidth<875" class="keyfeatures smallest">
                        <div class="lidiv">
                            <p class="loremipsum smaller">Lorem ipsum</p>
                        </div>
                        <h1 class="keyfeaturestitle evensmaller">Key Features</h1>
                        <div>
                            <img class="custombullet smaller" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem smallest">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem smallest">Flexible software</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem smallest">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td" style="padding: 50px 0 150px 0">
                    <div style="padding-left: 53px; width: 50%;">
                        <p class="contactus smaller">Contact Us</p>
                        <h1 class="contactustitle smallest" >We will be glad to hear from you!</h1>
                        <br>
                        <p class="contactus smaller">Phone</p>
                        <p class="contactusinfo smaller">+65 6544-3030</p>
                        <p class="contactus smaller">E-mail</p>
                        <p class="contactusinfo smaller">info@example.com</p>
                        <p class="contactus smaller">Address</p>
                        <p class="contactusinfo smaller">3 Shenton Way<br>
                        Singapore, 06885</p>
                    </div>
                </td>
                <td class="mid-td" style="padding: 50px 0 150px 0">
                    <div>
                        <p class="feedbackformlabel left bold smaller" >Department: &nbsp;&nbsp;&nbsp;</p>
                        <input checked="checked" type="radio" id="support" name="Department" value="support"/>
                        <label class="feedbackformlabel smaller"for="support">&nbsp;&nbsp;&nbsp;Support</label>
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="sales" name="Department" value="sales"/>
                        <label class="feedbackformlabel smaller"for="sales">&nbsp;&nbsp;&nbsp;Sales</label>
                    </div>
                    <br>
                    <input placeholder="Subject" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="Name" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="name@example.com" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="Message..." class="feedbackinput messagesmaller"/>
                    <br><br>
                    <input size="40"type="file" id="myFile" name="filename"/>
                    <br><br>
                    <input class="left" type="checkbox" id="tnc" name="tnc"/>
                    <label for="tnc">&nbsp;&nbsp;I agree to the terms & conditions.</label>
                    <button class="submitbutton">Submit</button>
                </td>
            </tr>
        </table> 
    </div>
</div>
<!-- window 400 >= width < 768-->
<div class="maindiv" *ngIf="innerWidth>399&&innerWidth<768" > 
    <div class="navbar">
        <h4 style="color: #0E6FFD; font-size: 14px;">EduMatch</h4>
        <div>
          <button routerLink="/login" class="white smaller">Log In</button>&nbsp;
          <button routerLink="/registration" class="blue smaller">Sign Up</button>
        </div>
    </div>
    <div class="mid"> 
        <table style=" width: 100%;">
            <tr>
                <td class="mid-td mobile">
                    <div class="keyfeatures smallest">
                        <div class="lidiv">
                            <p class="loremipsum smaller">Lorem ipsum</p>
                        </div>
                        <h1 class="keyfeaturestitle evensmaller">Key Features</h1>
                        <div>
                            <img class="custombullet smaller" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem smallest">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem smallest">Flexible software</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem smallest">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td mobile">
                    <img style="height: inherit;width: 100%;" src="assets/buildingimg.png"/>
                </td>
            </tr>
            <tr>
                <td class="mid-td mobile" style="padding: 50px 0 0 0; text-align: center;">
                    <div style="padding-left: 0px; width: 50%; margin: auto;">
                        <p class="contactus smaller">Contact Us</p>
                        <h1 class="contactustitle smallest" >We will be glad to hear from you!</h1>
                        <br>
                        <p class="contactus smaller">Phone</p>
                        <p class="contactusinfo smaller">+65 6544-3030</p>
                        <p class="contactus smaller">E-mail</p>
                        <p class="contactusinfo smaller">info@example.com</p>
                        <p class="contactus smaller">Address</p>
                        <p class="contactusinfo smaller">3 Shenton Way<br>
                        Singapore, 06885</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td mobile" style="padding: 80px 0 100px 0">
                    <div >
                        <p class="feedbackformlabel left bold smaller" >Department: &nbsp;&nbsp;&nbsp;</p>
                        <input checked="checked" type="radio" id="support" name="Department" value="support"/>
                        <label class="feedbackformlabel smaller"for="support">&nbsp;&nbsp;&nbsp;Support</label>
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" id="sales" name="Department" value="sales"/>
                        <label class="feedbackformlabel smaller"for="sales">&nbsp;&nbsp;&nbsp;Sales</label>
                    </div>
                    <br>
                    <input placeholder="Subject" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="Name" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="name@example.com" class="feedbackinput smaller"/>
                    <br><br>
                    <input placeholder="Message..." class="feedbackinput messagesmaller"/>
                    <br><br>
                    <input size="40"type="file" id="myFile" name="filename"/>
                    <br><br>
                    <input class="left" type="checkbox" id="tnc" name="tnc"/>
                    <label for="tnc">&nbsp;&nbsp;I agree to the terms & conditions.</label>
                    <button class="submitbutton">Submit</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- window width < 400-->
<div class="maindiv" *ngIf="innerWidth<400" > 
    <div class="navbar">
        <div style="text-align:center;width: 100%;">
            <br>
            <h4 style="color: #0E6FFD; font-size: 14px;">EduMatch</h4>
        </div>
        <div style="text-align:center;width: 100%;">
          <button routerLink="/login" class="white smaller">Log In</button>&nbsp;
          <button routerLink="/registration" class="blue smaller">Sign Up</button>
        </div>
    </div>
    <div class="mid mobile"> 
        <table style=" width: 100%;">
            <tr>
                <td class="mid-td mobile">
                    <div class="keyfeatures smallest">
                        <div class="lidiv">
                            <p class="loremipsum smaller">Lorem ipsum</p>
                        </div>
                        <h1 class="keyfeaturestitle evensmaller">Key Features</h1>
                        <div>
                            <img class="custombullet smaller" src="assets/codeico.svg"/>
                            <p class="keyfeatures-listitem smallest">Easy to customise</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/swico.svg"/>
                            <p class="keyfeatures-listitem smallest">Flexible software</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                            <img class="custombullet smaller" src="assets/keyico.svg"/>
                            <p class="keyfeatures-listitem smallest">Best access for all the resources</p>
                            <p class="keyfeatures-listitem-filler smallest">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td mobile">
                    <img style="height: inherit;width: 100%;" src="assets/buildingimg.png"/>
                </td>
            </tr>
            <tr>
                <td class="mid-td mobile" style="padding: 50px 0 0 0; text-align: center;">
                    <div style="padding-left: 0px; width: 50%; margin: auto;">
                        <p class="contactus smaller">Contact Us</p>
                        <h1 class="contactustitle smallest" >We will be glad to hear from you!</h1>
                        <br>
                        <p class="contactus smaller">Phone</p>
                        <p class="contactusinfo smaller">+65 6544-3030</p>
                        <p class="contactus smaller">E-mail</p>
                        <p class="contactusinfo smaller">info@example.com</p>
                        <p class="contactus smaller">Address</p>
                        <p class="contactusinfo smaller">3 Shenton Way<br>
                        Singapore, 06885</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="mid-td mobile" style="padding: 80px 0 40px 0">
                    <div style="padding-left: 10px;"> 
                        <div>
                            <p class="feedbackformlabel left bold smaller" >Department: &nbsp;&nbsp;&nbsp;</p>
                            <input checked="checked" type="radio" id="support" name="Department" value="support"/>
                            <label class="feedbackformlabel smaller"for="support">&nbsp;&nbsp;&nbsp;Support</label>
                            &nbsp;&nbsp;&nbsp;
                            <input type="radio" id="sales" name="Department" value="sales"/>
                            <label class="feedbackformlabel smaller"for="sales">&nbsp;&nbsp;&nbsp;Sales</label>
                        </div>
                        <br>
                        <input placeholder="Subject" class="feedbackinput smaller mobile"/>
                        <br><br>
                        <input placeholder="Name" class="feedbackinput smaller mobile"/>
                        <br><br>
                        <input placeholder="name@example.com" class="feedbackinput smaller mobile"/>
                        <br><br>
                        <input placeholder="Message..." class="feedbackinput messagesmaller mobile"/>
                        <br><br>
                        <input size="40"type="file" id="myFile" name="filename"/>
                        <br><br>
                        <input class="left" type="checkbox" id="tnc" name="tnc"/>
                        <label for="tnc">&nbsp;&nbsp;I agree to the terms & conditions.</label>
                        <br>
                        <br>
                        <div style="text-align: center;">
                            <button class="submitbutton mobile">Submit</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
