<div class="navbar">
    <h4 class="left" style="color: #0E6FFD;">EduMatch</h4>
    <div>
      <button routerLink="/login" class="white">Log In</button>&nbsp;
      <button routerLink="/registration" class="blue">Sign Up</button>
    </div>
</div>
<div class="mid"> 
    <table style=" width: 100%;">
        <tr>
            <td class="mid-td">
                <img src="assets/buildingimg.png"/>
            </td>
            <td class="mid-td">
                <div class="keyfeatures">
                    <div style="width:fit-content; text-align: center; vertical-align: middle; background-color: #0E6FFD;border-radius: 10px; padding:0 10px 0 10px ;">
                        <p style="font-weight: 700; color: white;">Lorem ipsum</p>
                    </div>
                    <br>
                    <h1 style="font-weight: 900; font-size: 40px;">Key Features</h1>
                    <br>
                    <ul class="customul">
                        <li class="keyfeatures-listitem">Easy to customise
                            <p class="keyfeatures-listitem-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </li>
                        <li class="keyfeatures-listitem">Flexible software
                            <p class="keyfeatures-listitem-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </li>
                        <li class="keyfeatures-listitem">Best access for all the resources
                            <p class="keyfeatures-listitem-filler">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="mid-td" style="padding: 50px 0 150px 0">
                <div style="padding-left: 53px; width: 50%;">
                    <p style="line-height: 1; font-size: 18px; font-weight: 700; color: #798088;">Contact Us</p>
                    <h1 style="line-height: 1; font-weight: 900; width: 55%;" >We will be glad to hear from you!</h1>
                    <br>
                    <p style="font-weight: 700;font-size: 18px;line-height: 1; color: #798088;">Phone</p>
                    <p style="font-size: 18px;">+65 6544-3030</p>
                    <p style="font-weight: 700;font-size: 18px;line-height: 1; color: #798088;">E-mail</p>
                    <p style="font-size: 18px;">info@example.com</p>
                    <p style="font-weight: 700;font-size: 18px;line-height: 1; color: #798088;">Address</p>
                    <p style="font-size: 18px;">3 Shenton Way<br>
                    Singapore, 06885</p>
                </div>
            </td>
            <td class="mid-td" style="padding: 50px 0 150px 0">
                <div>
                    <p class="left" style="font-size: 18px;font-weight: 900;">Department: &nbsp;&nbsp;&nbsp;</p>
                    <input checked="checked" type="radio" id="support" name="Department" value="support"/>
                    <label style="font-weight: 400;font-size: 18px;"for="support">&nbsp;&nbsp;&nbsp;Support</label>
                    &nbsp;&nbsp;&nbsp;
                    <input type="radio" id="sales" name="Department" value="sales"/>
                    <label style="font-weight: 400;font-size: 18px;"for="sales">&nbsp;&nbsp;&nbsp;Sales</label>
                </div>
                <br>
                <input placeholder="Subject" class="feedbackinput"/>
                <br><br>
                <input placeholder="Name" class="feedbackinput"/>
                <br><br>
                <input placeholder="name@example.com" class="feedbackinput"/>
                <br><br>
                <input placeholder="Message..." class="feedbackinput message"/>
                <br><br>
                <input size="60"type="file" id="myFile" name="filename"/>
                <br><br>
                <input class="left" type="checkbox" id="tnc" name="tnc"/>
                <label for = "tnc">&nbsp;&nbsp;I agree to the terms & conditions.</label>
                <button class="submitbutton">Submit</button>
            </td>
        </tr>
    </table>
</div>