.footer{
    padding-left: 10%;
    padding-right: 10%;
}
.footer-links{
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 25px 0 25px;
}
.footer-img{
    height: 20px;
    width: 20px;
}
