<div class = "footer">
    <br><br>
    <h4 class="left" style="color: #0E6FFD;">EduMatch</h4>
    <div class="right">
      <a class="footer-links">Shop</a>
      <a routerLink="/" class="footer-links">About</a>
      <a class="footer-links">Blog</a>
      <a class="footer-links">Pricing</a>
    </div>
    <br><br><br>
    <p class="left" style="color:#6D757D">©2021. All rights reserved.</p>
    <div class="right" style="padding-right: 20px;">
      <img class="footer-img" src="assets/facebook.png"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="footer-img" src="assets/twitter.png"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img class="footer-img" src="assets/insta.png"/>
    </div>
    <br><br><br>
</div>
